body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#demo{
    width: 300px;
    height: 300px;
    float: left;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

#demo1{
    width: 300px;
    height: 300px;
    float: left;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}